*.pc
*.tlog
*.idb
*.rc
*.sdf
*.suo
*.db
*.vcxproj.user
*.obj
*.log
*.pdb
*.opendb
/src/*.c
/include/GL/*.h
vc6/*.rc
.vs/
tmp/
/Debug
/Release
*/Debug
*/Release
/bin
/lib
/tmp
/out
.DS_Store*
/x64
**/Debug/*
*.ilk
